@import "tailwindcss";
/* @tailwind components; */
@tailwind utilities;

:root {
  --header-height: 72px;
  --app-width: 1200px;
  --primary: #879d3b;
  --secondary: #c5a460;
  --background: #fff6df;
  --foreground: #252728;
  --muted: #ccd4c8;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--kiwi);
  /* --color-muted: var(--gray); */
  --color-dark: var(--semi-black);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #fff6df;
    --foreground: #171717;
  }
} */

body {
  margin: 0;
  min-width: 320px;
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-custom);
}

main {
  /* background: var(--background); */
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  @apply max-w-screen-lg;
}
